[Unit]
Description=SMTP local daemon for {{ app_name }}
After=network.target

[Service]
User={{ default_user }}
ExecStart={{ virtualenv_dir }}/bin/python -m smtpd -n -c DebuggingServer {{ email_host }}:{{ email_port }}

[Install]
WantedBy=multi-user.target
