[Unit]
Description=Celery Beat Service for {{ app_name }}
After=network.target

[Service]
Type=simple
User={{ celery_user }}
Environment={{ env_file_var }}={{ repository_path }}/.env
WorkingDirectory={{ repository_path }}
ExecStart={{ virtualenv_dir }}/bin/celery beat \
-A mtdj.celery \
--scheduler=django_celery_beat.schedulers:DatabaseScheduler \
--pidfile={{ celery_beat_pid_file }} \
--loglevel=INFO \
--logfile={{ logging_dir }}/celery.log

[Install]
WantedBy=multi-user.target
