[Unit]
Description=Celery Service for {{ app_name }}
After=network.target

[Service]
Type=forking
User={{ celery_user }}
Environment={{ env_file_var }}={{ repository_path }}/.env
WorkingDirectory={{ repository_path }}
ExecStart={{ virtualenv_dir }}/bin/celery multi start celery-worker \
-A mtdj.celery \
--autoscale=7,1 \
--pidfile={{ celery_pid_file }} \
--loglevel=INFO \
--logfile={{ logging_dir }}/celery.log

ExecStop={{ virtualenv_dir }}/bin/celery multi stopwait \
--pidfile={{ celery_pid_file }}

ExecReload={{ virtualenv_dir }}/bin/celery multi restart \
-A mtdj.celery \
--pidfile={{ celery_pid_file }} \
--loglevel=INFO \
--logfile={{ logging_dir }}/celery.log

[Install]
WantedBy=multi-user.target
