filebeat.inputs:

  - type: log
    enabled: true

    paths:
      - {{ logging_dir }}/application.log
      - {{ logging_dir }}/error.log

    fields:
      type: application

    fields_under_root: true

  - type: log
    enabled: true

    paths:
      - {{ logging_dir }}/celery.log

    fields:
      type: celery

    fields_under_root: true

  - type: log
    enabled: true

    paths:
      - {{ logging_dir }}/gunicorn.log

    fields:
      type: gunicorn

    fields_under_root: true

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml

output.logstash:
  hosts: ["{{ elk_ip_address }}:5044"]

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
