filebeat.inputs:

  - type: log
    enabled: true

    paths:
      - /var/log/postgresql/postgresql_queries_log*.log

    # Only ship logs for queries from the application (exclude postgres system logs)
    include_lines: ['{{ postgresql_db_user }}@{{ postgres_db_name }}']

    fields:
      type: postgres

    fields_under_root: true

output.logstash:
  hosts: ["{{ elk_ip_address }}:5044"]
