[Unit]
Description=Gunicorn daemon for {{ app_name }}
After=network.target

[Service]
User={{ gunicorn_user }}
WorkingDirectory={{ repository_path }}
Environment={{ env_file_var }}={{ env_file_path }}
ExecStart={{ virtualenv_dir }}/bin/gunicorn \
--name={{ app_name }} \
--pythonpath={{ virtualenv_dir}}/bin/python \
--bind 127.0.0.1:{{ wsgi_server_port }} \
--config /etc/gunicorn.d/gunicorn.py \
--access-logfile=- \
--access-logformat='%(h)s %({host}i)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" %(L)s "%(a)s"' \
--error-logfile=- \
{{ app_name }}.wsgi:application

[Install]
WantedBy=multi-user.target
