filter {

	# Parse JSON data from message for application logs
	if [type] == "application" {
		json { source => "message" }
	}

	# Logs from bad requests include the request data as a `data` field.
	# This clashes with the payload sent to Elasticsearch so we need to
	# rename this field to allow the log data to be sent to Elasticsearch.
	mutate {
		rename => { "data" => "request_data" }
	}

	# Parse the request_data field as JSON to ensure that form-encoded data
	# is saved consistently as an object in Kibana.
	json {
		source => "request_data"
		target => "request_data"
		skip_on_invalid_json => true
	}
}
