filter {
	if [type] == "gunicorn" {

		# Only perform transformation on gunicorn access logs for requests
		# Ignore status logs, like ones emitted on gunicorn restart
		if "127.0.0.1" in [message] {
			dissect {
				mapping => {
					"message" => '%{} %{date} "%{method} %{path} %{}" %{status} %{size} "%{referer}" %{time} "%{user_agent}"'
				}
			}
		}
	}
}
