filter {
	if [type] == "nginx" {
		dissect {
			mapping => {
				"message" => '%{remote_ip} - %{} [%{request_timestamp}] "%{method} %{path} %{http_version}" %{status} %{response_size_bytes} "%{referer}" "%{user_agent}" %{request_time}'
			}
		}
	}
}
