filter {
	if [type] == "postgres" {
		dissect {
			mapping => {
				"message" => '%{+query_timestamp} %{+query_timestamp} %{+query_timestamp} [%{process_id}] %{user}@%{database} LOG:  duration: %{duration} ms  statement: %{query}'
			}
		}
	}
}
