filter {
	if [type] == "postgres" {
		if "duration" in [message] {
			dissect {
				mapping => {
					"message" => '%{+query_timestamp} %{+query_timestamp} %{+query_timestamp} [%{process_id}] %{user}@%{database} %{}:  duration: %{duration}'
				}
			}
		} else {
			dissect {
				mapping => {
					"message" => '%{+query_timestamp} %{+query_timestamp} %{+query_timestamp} [%{process_id}] %{user}@%{database} %{}:  statement: %{query}'
				}
			}
		}
	}
}