upstream app_server {
    server 127.0.0.1:{{ wsgi_server_port }};
}

server {
    listen 443 ssl http2;
    server_name {{ app_hostname }} admin.{{ app_hostname }};

    # Deny invalid Host headers
    if ($host !~* ^({{ app_hostname }}|admin.{{ app_hostname }})$) {
        return 444;
    }

    if ($request_method !~ ^(GET|POST|DELETE|HEAD|PATCH)$) {
        return 405;
    }

    keepalive_timeout 5;

    location /static {
        expires 1y;
        add_header Cache-Control public;

        # Set security headers on static files
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection mode=block;
        add_header X-Frame-Options SAMEORIGIN;

        alias {{ repository_path }}/_static/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_connect_timeout 5s;
        proxy_read_timeout 30s;

        proxy_pass http://app_server;
    }
}

server {
    listen 80;
    server_name {{ app_hostname }} www.{{ app_hostname }};

    return 301 https://{{ app_hostname }}$request_uri;
}

server {
    listen 80;
    server_name admin.{{ app_hostname }};

    return 301 https://admin.{{ app_hostname }}$request_uri;
}

server {
    listen 443 ssl;
    server_name www.{{ app_hostname }};

    return 301 https://{{ app_hostname }}$request_uri;
}
